@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap&subset=latin-ext');

/* font-family: 'Comfortaa', cursive; */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-image: linear-gradient(45deg, #E2E8C0, #EDD9A3);
    font-family: 'Comfortaa', cursive;
    margin: 0;
}

.navigation {
    text-transform: uppercase;
    margin: 10px;
}

.navigation__link {
    text-decoration: none;
}


.main__header-title {
    color: tomato;
    font-weight: 700;
}

.section__header {
    color: #1460aa;
    font-weight: 700;
}

.section__subtitle {
    color: #257042;
}

.paragraph {
    color: darkblue;
}

.article__footer {
    font-weight: 700;
    font-size: 10px;
}

.link {
    color: #846c5b;
}

.main__header-title,
.section__header,
.article__about,
.article {
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
    margin: 32px auto;
}

.footer {
    padding: 20px 20px;
    background-color: #cea07e;
    text-align: center;
}