@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700&display=swap&subset=latin-ext');

/* font-family: 'Comfortaa', cursive; */


body {
    background: #fefefe;
    font-family: 'Comfortaa', cursive;
}

.navigation {
    text-transform: uppercase;
}

.navigation__link {
    text-decoration: none;
}


.main__header-title {
    color: tomato;
    font-weight: 700;
}

.section__header {
    color: #1460aa;
    font-weight: 700;
}

.section__subtitle {
    color: #257042;
}

.paragraph {
    color: darkblue;
}

.article__footer {
    font-weight: 700;
    font-size: 10px;
}

.link {
    color: #846c5b;
}

.main__header-title,
.section__header,
.article__about,
.article {
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
    margin: 32px auto;
}